---
import Layout from '@/layouts/PostLayout.astro';
import { type CollectionEntry, getCollection, render } from 'astro:content';

export async function getStaticPaths() {
  const thoughts = await getCollection('thoughts');
  return thoughts.map((thought) => ({
    params: { slug: thought.id },
    props: thought,
  }));
}
type Props = CollectionEntry<'thoughts'>;

const post = Astro.props;
const { Content } = await render(post);
---

<Layout {...post.data}>
  <div class="hero">
    <div class="text-sm text-muted-foreground px-4 sm:p-0">
      {post.data.publishedAt.toLocaleDateString()}
    </div>
    <h1 class="text-balance leading-snug font-bold text-4xl md:text-7xl lg:text-8xl">
      {post.data.title}
    </h1>
  </div>
  <Content />
</Layout>