@import "tailwindcss";

@theme {
  --font-sans: 'JetBrains Mono', 'monaco';
  --font-mono: 'JetBrains Mono', 'monaco';
  --font-serif: 'JetBrains Mono', 'monaco';

  /* brand colors */
  --color-cream: hsl(0 0% 98%); /* #f9f9f9 */
  --color-cream-foreground: hsl(240 1% 25%); /* #404041 */
  --color-cool: hsl(197 65% 57%); /* #4bb4d9 */
  --color-cool-foreground: hsl(0 0% 100%); /* #fff */
  --color-chocolate: hsl(240 1% 25%); /* #404041 */
  --color-chocolate-foreground: hsl(0 0% 100%); /* #fff */
  --color-accent: hsl(1 86% 65%); /* #f25e5c */
  --color-accent-foreground: hsl(0 0% 100%); /* #fff */

  /* max width */
  --w-xs: 420px;
  --w-sm: 600px;
  --w-md: 768px;
  --w-lg: 1024px;
  --w-xl: 1280px;
  --w-2xl: 1536px;
  --w-3xl: 1680px;
  --w-4xl: 1920px;
}