@import "tailwindcss";

:root {
  /* CUSTOM COLOR TOKENS */
  --color-brand: oklch(0.6732 0.201 27.325);
  --color-brand-foreground: oklch(0.9537 0.0166 27.325);
  --color-ai: oklch(0.5933 0.249 294.35);
  --color-ai-foreground: oklch(0.99 0.12 294.35);
  
  --color-hot: oklch(0.6732 0.201 27.325);
  --color-hot-foreground: oklch(0.9537 0.0166 27.325);
  --color-cool: oklch(0.5206 0.1061 162.48);
  --color-cool-foreground: oklch(0.95 0.0592 162.48);
  --color-warm: oklch(0.6955 0.1969 45.52);
  --color-warm-foreground: oklch(0.25 0.0345 51.88);
  --color-bright: oklch(0.9912 0.148 109.72);
  --color-bright-foreground: oklch(0.25 0.0345 51.88);

  --color-success: var(--color-cool);
  --color-success-foreground: var(--color-cool-foreground);
  --color-warning: var(--color-warm);
  --color-warning-foreground: var(--color-warm-foreground);
  --color-error: var(--color-hot);
  --color-error-foreground: var(--color-hot-foreground);

  /* SHADCN TOKENS */
  --background: oklch(0.99 0.01 109.72);
  --foreground: oklch(0.274 0.0091 41.87);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.274 0.0091 41.87);
  --primary-foreground: oklch(0.99 0.01 109.72);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.274 0.0091 41.87 / 0.5);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: var(--color-hot);
  --destructive-foreground: var(--color-hot-foreground);
  --border: oklch(0.89 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.99 0.01 109.72);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: var(--color-brand);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* SHADCN TOKENS */
    --background: oklch(0.274 0.0091 41.87);
    --foreground: oklch(0.99 0.01 109.72);
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.99 0.01 109.72); /* primary is foreground */
    --primary-foreground: oklch(0.274 0.0091 41.87);
    --secondary: oklch(0.3161 0.0162 41.87); /* brighter than background */
    --secondary-foreground: oklch(0.99 0.01 109.72);
    --muted: oklch(0.2876 0.0091 41.87);
    --muted-foreground: oklch(0.4311 0.0115 41.87);
    --accent: oklch(0.3793 0.0615 41.87);
    --accent-foreground: oklch(0.99 0.01 109.72);
    --destructive: var(--color-hot);
    --destructive-foreground: var(--color-hot-foreground);
    --border: oklch(0.35 0.0091 41.87);
    --input: var(--border);
    --ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: var(--color-brand);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* CUSTOM DESIGN TOKENS */
  --color-brand: var(--color-brand);
  --color-brand-foreground: var(--color-brand-foreground);
  --color-ai: var(--color-ai);
  --color-ai-foreground: var(--color-ai-foreground);
  --color-success: var(--color-success);
  --color-success-foreground: var(--color-success-foreground);
  --color-warning: var(--color-warning);
  --color-warning-foreground: var(--color-warning-foreground);
  --color-error: var(--color-error);
  --color-error-foreground: var(--color-error-foreground);
  --color-cool: var(--color-cool);
  --color-cool-foreground: var(--color-cool-foreground);
  --color-hot: var(--color-hot);
  --color-hot-foreground: var(--color-hot-foreground);

  --font-sans: 'IBM Plex Sans', 'Geist Sans', 'Inter', 'sans-serif';
  --font-mono: 'IBM Plex Mono', 'JetBrains Mono', 'monaco', 'monospace';

  --text-tiny: 0.625rem;

  --border-width: 1px;
  --radius: 1rem;
}

@utility container {
  margin-left: auto;
  margin-right: auto;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}