---
type Props = {
  class?: string;
};

const { class: className = '' } = Astro.props;
---

<div class:list={[
  'relative flex-1 grid grid-cols-6',
  className
]} style="gap: 1px;">
  <slot />
</div> 