---
type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---
<style>
  
</style>

<div class:list={`place-self-stretch bg-accent-foreground p-2 lg:p-4 ${className}`}>
  <slot />
</div>

