---
import Cell from '@/components/Cell.astro';
import GridContainer from '@/components/GridContainer.astro';
import { SITE_TITLE } from '@/consts';

type Props = {
  class?: string;
}

const { class: className } = Astro.props;
const links = [
  {
    label: SITE_TITLE,
    href: '/',
  },
];
---
<nav class:list={[className]}>
  <GridContainer>
    <Cell class="col-span-full xl:col-[2_/_6]" border={false}>
      <ul class="flex gap-4">
        {links.map((link) => (
          <li class="">
            <a href={link.href}>{link.label}</a>
          </li>
        ))}
      </ul>
    </Cell>
  </GridContainer>
</nav>
