---
import Hightlight from '@/components/Hightlight.astro';
import { type CollectionEntry } from 'astro:content';
import moment from 'moment';

type BlogPost = CollectionEntry<'thoughts'>;

interface Props {
  thoughts: BlogPost[];
}

const { thoughts } = Astro.props;
---
{ 
  thoughts.length > 0 && (
    <section class="space-y-8">
      <h2 class="font-bold uppercase tracking-widest mb-4 text-sm sm:text-base lg:text-lg xl:text-xl">
        Journal
      </h2>
      <ul class="list-disc list-inside">
        {thoughts.map(post => {
          const formattedDate = moment(post.data.publishedAt).format('YYYY-MM-DD');
          return (
            <li class="list-none flex items-center">
              <a 
                href={`/thoughts/${post.id}/`}
                class="group inline-block text-sm sm:text-base hover:-translate-y-1 hover:-translate-x-2 transition duration-300"
              >
                <Hightlight class="mr-2 px-1">
                  <span>{post.data.title}</span>
                </Hightlight>
                <span class="text-foreground font-mono">{formattedDate}</span>
              </a>
            </li>
          );
        })}
      </ul>
    </section>
  )
}