---
import moment from 'moment';
import { type CollectionEntry } from 'astro:content';

type BlogPost = CollectionEntry<'posts'>;

interface Props {
  posts: BlogPost[];
}

const { posts } = Astro.props;
---
{ 
  posts.length > 0 && (
    <section class="space-y-8">
      <ul class="list-disc list-inside">
        {posts.map(post => {
          const formattedDate = moment(post.data.pubDate).format('YYYY-MM-DD');
          return (
            <li class="list-none">
              <a 
                href={`/posts/${post.id}/`}
                class="transition-colors group bg-accent-foreground text-gray-800 px-2"
              >
                <span class="text-gray-600 text-sm mr-2 font-mono">{formattedDate}</span>
                <span class="group-hover:underline group-hover:underline-offset-4 group-hover:decoration-2">{post.data.title}</span>
              </a>
            </li>
          );
        })}
      </ul>
    </section>
  )
}