---
import { type CollectionEntry } from 'astro:content';
import moment from 'moment';

type BlogPost = CollectionEntry<'thoughts'>;

interface Props {
  thoughts: BlogPost[];
}

const { thoughts } = Astro.props;
---
{ 
  thoughts.length > 0 && (
    <section class="space-y-8">
      <ul class="list-disc list-inside">
        {thoughts.map(post => {
          const formattedDate = moment(post.data.publishedAt).format('YYYY-MM-DD');
          return (
            <li class="list-none flex items-center">
              <a 
                href={`/thoughts/${post.id}/`}
                class="group inline-block bg-primary text-primary-foreground px-2 py-1 hover:bg-brand hover:text-brand-foreground transform-gpu hover:-translate-x-4 hover:-translate-y-1 transition duration-300"
              >
                <span class="text-secondary/50 group-hover:text-brand-foreground text-xs mr-2 font-mono">{formattedDate}</span>
                <span>{post.data.title}</span>
              </a>
            </li>
          );
        })}
      </ul>
    </section>
  )
}