---
type Props = {
  class?: string;
};

const { class: className } = Astro.props;

const social = [
  {
    type: 'linkedin',
    title: 'LinkedIn',
    href: 'https://www.linkedin.com/in/constantx',
  },
  {
    type: 'github',
    title: 'GitHub',
    href: 'https://github.com/constantx',
  },
  {
    type: 'dribbble',
    title: 'Dribbble', 
    href: 'https://dribbble.com/constantx',
  }
];
---

<div class:list={[className]}>
  <ul class="inline">
    {social.map((item) => (
      <li class="inline-block mr-2">
        <a 
          href={item.href}
          class="underline uppercase tracking-widest text-xs" 
          target="_blank" 
          title={item.title}
        >{item.title}</a>
      </li>
    ))}
  </ul>
</div> 

<style>
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
</style>