---
import BaseHead from '@/components/BaseHead.astro';

interface Props {
  title: string;
  description?: string;
  isHomepage?: boolean;
  class?: string[];
}

const { title, description, class: classList } = Astro.props;
const siteDescription = "constantx"; // Add your site description
---

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <BaseHead title={title} description={description || siteDescription} />
  </head>
  
  <body class:list={['min-h-screen', classList]}>
    <slot />
  </body>
</html> 

<style>
  @reference "../styles/global.css";

  body {
    background: var(--color-background);
  }
</style>